---
- name: Manage users
  ansible.builtin.user:
    name: "{{ user.name }}"
    state: "{{ user.state | default('present') }}"
    remove: true
    uid: "{{ user.uid | default(omit) }}"
    shell: "{{ user.shell | default(omit) }}"
    groups: "{{ user.groups | default(omit) }}"
    append: "{{ user.groups_append | default(omit) }}"
  become: true
  loop: "{{ user_setup_users }}"
  loop_control:
    loop_var: user

- name: Fetch user and group information
  ansible.builtin.getent:
    database: passwd
