---
- name: Manage ssh setup
  ansible.builtin.include_tasks:
    file: noauto_ssh_setup.yml
  loop: "{{ user_setup_users }}"
  loop_control:
    loop_var: user
  when:
    - user.ssh_authorized_keys is defined
    - user.ssh_authorized_keys | length > 0
    - user.state | default('present') == 'present'
    - user.create_home | default(true)
