---
- name: Manage sudo access
  ansible.builtin.include_tasks:
    file: noauto_sudo_setup.yml
  loop: "{{ user_setup_users }}"
  loop_control:
    loop_var: user
  when:
    - user.state | default('present') == 'present'
    - user.sudo_access is defined and user.sudo_access

- name: Remove sudoers file for absent users
  ansible.builtin.file:
    path: "/etc/sudoers.d/{{ user.name }}"
    state: absent
  become: true
  loop: "{{ user_setup_users }}"
  loop_control:
    loop_var: user
  when: user.state | default('present') == 'absent'
